<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Kitchen App</title>
  <link rel="stylesheet" href="css/style_kitchen.css" media="all">
  <link rel="stylesheet" href="https://bootswatch.com/slate/bootstrap.min.css" media="all">
  <script src="vendor/angular/angular.min.js"></script>
  <!-- <script src="vendor/socket.io-client/socket.io.js"></script> -->
  <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
  <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.17/socket.io.min.js"></script> -->
  <script src="vendor/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="vendor/jquery/dist/jquery.min.js"></script>
  <script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body ng-app="kitchenApp">
  <div ui-view></div>
  <script src="js/main_kitchen.js"></script>
</body>
</html>
