<div ng-controller="registerCtrl" class="col-md-8 col-md-offset-2">
  <h3>Register</h3>
  <form name="form" ng-submit="register(member.user)" role="form">
    <div class="form-group" ng-class="{ 'has-error': form.firstName.$dirty && form.firstName.$error.required }">
      <label for="email">First name</label>
      <input type="text" name="firstName" id="firstName" class="form-control" ng-model="member.user.firstName" required />
      <span ng-show="form.firstName.$dirty && form.firstName.$error.required" class="help-block">First name is required</span>
    </div>
    <div class="form-group" ng-class="{ 'has-error': form.lastName.$dirty && form.lastName.$error.required }">
      <label for="email">Last name</label>
      <input type="text" name="lastName" id="Text1" class="form-control" ng-model="member.user.lastName" required />
      <span ng-show="form.lastName.$dirty && form.lastName.$error.required" class="help-block">Last name is required</span>
    </div>
    <div class="form-group" ng-class="{ 'has-error': form.email.$dirty && form.email.$error.required }">
      <label for="email">Email</label>
      <input type="email" name="email" id="email" class="form-control" ng-model="member.user.email" required />
      <span ng-show="form.email.$dirty && form.email.$error.required" class="help-block">Email is required</span>
    </div>
    <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
      <label for="password">Password</label>
      <input type="password" name="password" id="password" class="form-control" ng-model="member.user.password" required />
      <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
    </div>
    <div class="form-group" ng-class="{ 'has-error': form.passwordConf.$dirty && form.passwordConf.$error.required }">
      <label for="passwordConf">Confirm Password</label>
      <input type="password" name="passwordConf" id="passwordConf" class="form-control" ng-model="member.user.passwordConf" required />
      <span ng-show="form.passwordConf.$dirty && form.passwordConf.$error.required || member.user.password !== member.user.passwordConf" class="help-block">Paswords Must Match</span>
    </div>
    <div class="form-group" ng-class="{ 'has-error': form.firstName.$dirty && form.firstName.$error.required }">
      <label for="email">Store Code</label>
      <input type="text" name="storeCode" id="storeCode" class="form-control" ng-model="member.user.storeCode" />
      <span class="help-block">If you have store code, enter it here.</span>
    </div>
    <div class="form-actions">
      <button type="submit" ng-disabled="form.$invalid || member.dataLoading || member.user.password !== member.user.passwordConf" class="btn btn-primary">Register</button>
      <img ng-if="member.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
      />
      <a href="#/login" class="btn btn-link">Cancel</a>
    </div>
  </form>
</div>
