<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="welcome">Serve You Right</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a ui-sref="welcome">Home</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a ng-click="launchHelpModal()" href="">Help</a></li>
        <li><a href="/kitchen">Kitchen</a></li>
        <li><a ng-click="logout()" href="#">Logout <span class="sr-only">(current)</span></a></li>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
</nav>

<div class="container">
<div class="row infoBar">
  <div class="col-sm-12 col-md-6 col-md-offset-3 col-lg-6">
    <br>
    <br>
    <h3>Hello {{user.firstName}} {{user.lastName}}</h3>
    <p>Your Store Code is: <strong>{{user.storeCode}}</strong></p>
    <p>Give this to your employees to be able to create orders for your resturant.</p>
  </div>
</div>
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h5>Employees:</h5>
          <div id="dataTables-example_filter" class="dataTables_filter">
            <label>Search:
              <input ng-model="searchEmployees" type="search" class="form-control input-sm" placeholder="" aria-controls="dataTables-example">
            </label>
          </div>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
          <div class="dataTable_wrapper">
            <div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
              <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6">
                  <div class="dataTables_length" id="dataTables-example_length">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <table class="table table-striped table-bordered table-hover dataTable no-footer" id="dataTables-example" role="grid" aria-describedby="dataTables-example_info">
                    <thead>
                      <tr role="row">
                        <th class="sorting_asc" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 176px;">Employee Name</th>
                        <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 216px;">Email</th>
                        <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 200px;">Orders</th>
                        <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 152px;">Edit</th>
                        <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending" style="width: 117px;">Delete</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="employee in user.employees | filter:searchEmployees track by $index" class="gradeA odd" role="row">
                        <td class="sorting_1">{{employee.firstName}} {{employee.lastName}} </td>
                        <td>{{employee.email}}</td>
                        <td>{{employee.orders.length}}</td>
                        <td class="center"> <a href="" ng-click="launchEditEmployeeModal(employee)"> <span class="glyphicon glyphicon-pencil"></span></a></td>
                        <td class="center"><a href="" ng-click="deleteEmployee(employee)"><span class="glyphicon glyphicon-trash"></span></a></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                </div>
                <div class="col-sm-6">
                </div>
              </div>
            </div>
          </div>
          <!-- /.table-responsive -->
        </div>
        <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->

    <div class="col-sm-12 col-md-12 col-lg-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h5>Menus</h5>
          <div id="dataTables-example_filter" class="dataTables_filter">
            <label>Search:
              <input ng-model="searchMenus" type="search" class="form-control input-sm" placeholder="" aria-controls="dataTables-example">
            </label>
          </div>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
          <div class="dataTable_wrapper">
            <div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
              <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6">
                  <div class="dataTables_length" id="dataTables-example_length">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="">
                  <table class="table table-striped table-bordered table-hover dataTable no-footer" id="dataTables-example" role="grid" aria-describedby="dataTables-example_info">
                    <thead>
                      <tr role="row">
                        <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 176px;">Menu Name</th>
                        <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 216px;">Number Of Items</th>
                        <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 152px;">Edit</th>
                        <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending" style="width: 117px;">Delete</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="menu in user.menus | filter:searchMenus track by $index" class="gradeA odd" role="row">
                        <td class="sorting_1">{{menu.menuName}} </td>
                        <td>{{menu.items.length}}</td>
                        <td class="center">
                          <a ng-click="editMenu(menu._id)" href=""><span class="glyphicon glyphicon-pencil"></span></a></td>
                        <td class="center"><a ng-click="deleteMenu(menu._id)" href=""><span class="glyphicon glyphicon-trash"></span></a></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                  <h4>Create New Menu:</h4>
                </div>
                <!-- /.col-lg-6 -->
                <div class="col-sm-6 col-md-6 col-lg-6">
                  <div class="input-group">
                    <input ng-model="newMenu" type="text" class="form-control" placeholder="Menu Name">
                    <span class="input-group-btn">
                      <button ng-click="createMenu()" id="createMenu" class="btn btn-success" type="button">Create</button>
                    </span>
                  </div>
                  <!-- /input-group -->
                </div>
                <!-- /.col-lg-6 -->
              </div>
              <!-- /.row -->
            </div>
          </div>
        </div>
        <!-- /.table-responsive -->
      </div>
      <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
  </div>
  <!-- /.col-lg-12 -->
</div>
</div>


<div class="modal fade" id="editEmployeeModal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <form name="form" ng-submit="editEmployee(member)" role="form">
          <div class="form-group" ng-class="{ 'has-error': form.firstName.$dirty && form.firstName.$error.required }">
            <label  for="email">First name</label>
            <input type="text" name="firstName" id="firstName" class="form-control" ng-model="member.firstName" required />
            <span ng-show="form.firstName.$dirty && form.firstName.$error.required" class="help-block">First name is required</span>
          </div>
          <div class="form-group" ng-class="{ 'has-error': form.lastName.$dirty && form.lastName.$error.required }">
            <label  for="email">Last name</label>
            <input type="text" name="lastName" id="Text1" class="form-control" ng-model="member.lastName" required />
            <span ng-show="form.lastName.$dirty && form.lastName.$error.required" class="help-block">Last name is required</span>
          </div>
          <div class="form-group" ng-class="{ 'has-error': form.email.$dirty && form.email.$error.required }">
            <label  for="email">Email</label>
            <input type="email" name="email" id="email" class="form-control" ng-model="member.email" required />
            <span ng-show="form.email.$dirty && form.email.$error.required" class="help-block">Email is required</span>
          </div>
          <div class="form-group" ng-class="{ 'has-error': form.phone.$dirty && form.phone.$error.required }">
            <label for="phone">Phone Number - Area and Country Code</label>
            <input type="tel" pattern=".{11,11}" name="tel" id="tel" class="form-control" ng-model="member.phoneNumber" required />
            <span ng-show="form.phone.$dirty && form.phone.$error.required" class="help-block">Phone Number is required</span>
          </div>
          <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
            <label  for="password">Password</label>
            <input type="password" name="password" id="password" class="form-control" ng-model="member.password" required />
            <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
          </div>
          <div class="form-group" ng-class="{ 'has-error': form.passwordConf.$dirty && form.passwordConf.$error.required }">
            <label  for="passwordConf">Confirm Password</label>
            <input type="password" name="passwordConf" id="passwordConf" class="form-control" ng-model="member.passwordConf" required />
            <span ng-show="form.passwordConf.$dirty && form.passwordConf.$error.required || member.password !== member.passwordConf" class="help-block">Paswords Must Match</span>
          </div>
          <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid || member.dataLoading || member.password !== member.passwordConf" class="btn btn-primary">Save</button>
            <img ng-if="member.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
            />
            <button data-dismiss="modal" class="btn btn-danger">Cancel</button>
          </div>
        </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</div>

<div class="modal fade" id="helpModal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <div class="container">
      <div class="row">
        <div class=""><h3>How to use this app.</h3></div>
        <div class="col-sm-12 col-md-12 col-lg-12">
          <ol>
            <li>Create a new menu by giving it a name and clicking <strong>"Create"</strong></li>
            <li>Click the <em>edit pencil</em> to add items to the menu or edit existing ones.</li>
            <li>Give your employee the store code and have them register with the storce code listed.</li>
            <li>Have your employee download the app for iOS or Android, login and begin to take orders.</li>
            <li>Visit the <a class="redText" href="/kitchen">kitchen</a> and enter your store code to see orders come in real time.</li>
            <li>When an order is complete simply click or tap <strong>"Complete Order"</strong> to notify the server! </li>
          </ol>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
</div>
